<!DOCTYPE html>
<html>
<head>
    <title>Đổi mật khẩu</title>
</head>
<body>

    <div th:if="${message}" id="messageDiv" class="alert alert-success">
        <p th:text="${message}"></p>
    </div>

    <form th:action="@{/user/profile}" method="get">
        <input type="submit" value="Quay lại hồ sơ cá nhân"
            style="background-color: black; color: white; padding: 5px 10px; border: none; border-radius: 4px; cursor: pointer;" />
    </form>

    <h2>Đổi mật khẩu</h2>

    <form action="/user/change-password" method="post">
        <div>
            <label for="currentPassword">Mật khẩu hiện tại:</label>
            <input type="password" id="currentPassword" name="currentPassword" required>
        </div>

        <div>
            <label for="newPassword">Mật khẩu mới:</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>

        <div>
            <label for="confirmPassword">Xác nhận mật khẩu mới:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div><br>

        <button type="submit">Đổi mật khẩu</button>
    </form>

    <script>
        setTimeout(function () {
            var messageDiv = document.getElementById("messageDiv");
            if (messageDiv) {
                messageDiv.style.display = "none";
            }
        }, 2000); // message disapear after 2s
    </script>

</body>
</html>
