<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create Exam</title>
</head>

<body>

    <div th:if="${message}" id="messageDiv" class="alert alert-success">
        <p th:text="${message}"></p>
    </div>

    <form th:action="@{classrooms-page}" method="get">
        <input type="submit" value="Quay lại xem các lớp"
            style="background-color: black; color: white; padding: 5px 10px; border: none; border-radius: 4px; cursor: pointer;" />
    </form>

    <h1>Tạo Lớp học</h1>

    <form th:action="@{/teacher/classroom/create-classroom}" method="post">

        <label for="name">Tên lớp:</label>
        <input type="text" id="name" name="name" required />

        <label for="subject">Môn học:</label>
        <select name="selectedSubject">
            <option th:each="subject : ${subjects}" th:value="${subject}" th:text="${subject}"
                th:selected="${subject == selectedSubject}"></option>
        </select>

        <label for="grade">Khối lớp:</label>
        <select name="selectedGrade">
            <option th:each="grade : ${grades}" th:value="${grade}" th:text="${grade}"
                th:selected="${grade == selectedGrade}"></option>
        </select><br><br>
        
        <input type="submit" value="Tiếp tục" />
    </form>

    <script>
        setTimeout(function () {
            var messageDiv = document.getElementById("messageDiv");
            if (messageDiv) {
                messageDiv.style.display = "none";
            }
        }, 2000); // message disapear after 2s
    </script>

    <style>
        .redirect-button {
            display: inline-block;
            padding: 5px 10px;
            font-size: 14px;
            background-color: #000000;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>

</body>

</html>