<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Các đề thi</title>
</head>

<body>
    <div th:if="${message}" id="messageDiv" class="alert alert-success">
        <p th:text="${message}"></p>
    </div>

    <form th:action="@{/user/dashboard}" method="get">
        <input type="submit" value="Quay về trang chủ"
            style="background-color: black; color: white; padding: 5px 10px; border: none; border-radius: 4px; cursor: pointer;" />
    </form>

    <h1>Các đề kiểm tra:</h1>

    <div style="display: inline-block;">
        <h2 style="display: inline;">Chọn môn học: </h2>
        <form th:action="@{/user/exam/get-exams-by-subject}" method="get" style="display: inline;">
            <select name="selectedSubject">
                <option th:each="subject : ${subjects}" th:value="${subject}" th:text="${subject}"
                    th:selected="${subject == selectedSubject}"></option>
            </select>
            <input type="submit" value="Tìm kiếm">
        </form>
    </div>

    <!-- Display questions based on the selected subject -->
    <div th:if="${examNames}">
        <h3 th:text="'Các bài kiểm tra môn: ' + ${selectedSubject}"></h3>
        <ul>
            <li th:each="examName : ${examNames}">
                <div>
                    <span th:text="${examName}"></span>
                    <form th:action="@{/user/exam/get-exam-by-name}" method="get" style="display: inline;">
                        <input th:type="hidden" th:id="name" th:name="name" th:value="${examName}">
                        <input th:type="hidden" th:id="selectedCode" th:name="selectedCode" th:value=0> 
                        <button type="submit" >Xem đề</button>
                    </form>
                </div><br>
            </li>
        </ul>
    </div>

    <style>
        .redirect-button {
            display: inline-block;
            padding: 5px 10px;
            font-size: 14px;
            background-color: #000000;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>

    <script>
        setTimeout(function () {
            var messageDiv = document.getElementById("messageDiv");
            if (messageDiv) {
                messageDiv.style.display = "none";
            }
        }, 2000); // message disapear after 2s
    </script>

</body>

</html>