<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Exam Manager</title>
</head>

<body>
    <!-- Content for Teacher Role -->
    <div th:if="${role == 'Teacher'}">
        <h1>Teacher Dashboard</h1>
        <p th:text="'Welcome, ' + ${username} + '!'">Welcome, {username}!</p>
        <ul>

            <form th:action="@{/create-question-page}" method="get">
                <input type="hidden" id="username" name="username" th:value="${username}" />
                <input type="hidden" id="password" name="password" th:value="${password}" />
                <input type="submit" value="Create Question" />
            </form><br>

            <form th:action="@{/create-exam-page}" method="get">
                <input type="hidden" id="username" name="username" th:value="${username}" />
                <input type="hidden" id="password" name="password" th:value="${password}" />
                <input type="submit" value="Create Exam" />
            </form><br>

            <form th:action="@{/view-questions-by-filter-page}" method="get">
                <input type="hidden" id="username" name="username" th:value="${username}" />
                <input type="hidden" id="password" name="password" th:value="${password}" />
                <input type="submit" value="View Questions" />
            </form><br>

            <form th:action="@{/view-exams-by-filter-page}" method="get">
                <input type="hidden" id="username" name="username" th:value="${username}" />
                <input type="hidden" id="password" name="password" th:value="${password}" />
                <input type="submit" value="View Exams" />
            </form><br>
        </ul>
    </div>

    <!-- Content for Student Role -->
    <div th:if="${role == 'Student'}">
        <h2>Student Dashboard</h2>
        <p th:text="'Welcome, ' + ${username} + '!'">Welcome, {username}!</p>
        <ul>
            <li><a href="/take-exam">Take Exam</a></li>
            <li><a href="/view-results">View Results</a></li>
            <!-- Add more student-specific options here -->
        </ul>
    </div>

    <!-- Common Content (for both roles) -->
    <a href="/profile" class="redirect-button">View Profile</a>
    <a href="http://localhost:8080/" class="redirect-button">Logout</a>

    <script></script>

    <style>
        .redirect-button {
            display: inline-block;
            padding: 5px 10px;
            font-size: 14px;
            background-color: #000000;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>

</body>

</html>