<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Exam Manager v1.0.0-alpha</title>
</head>
<body>
    <div th:if="${message}" id="messageDiv" class="alert alert-success">
        <p th:text="${message}"></p>
    </div>

    <h1>Exam & Question Manager</h1>

    <h2>Current Features:</h2>

    <!-- Button to create a question -->
    <button onclick="createQuestion()">Create Question</button></br>

</br>
    <!-- Button to create an exam -->
    <button onclick="createExam()">Create Exam</button></br>
</br>

<button onclick="viewQuestion()">View Questions from Database</button></br>

    <script>
        function createQuestion() {
            window.location.href = '/create-question-page'; 
        }
        
        function createExam() {
            window.location.href = '/create-exam-page';
        }

        function viewQuestion() {
            window.location.href = '/questions-by-filter-page';
        }

        setTimeout(function() {
            var messageDiv = document.getElementById("messageDiv");
            if (messageDiv) {
                messageDiv.style.display = "none";
            }
        }, 2000); // message disapear after 2s
    </script>
</body>
</html>
