<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Exam Manager v0.1</title>
</head>

<body>
    <div th:if="${message}" id="messageDiv" class="alert alert-success">
        <p th:text="${message}"></p>
    </div>

    <h1>Đăng nhập</h1>
    <form action="/login" method="get">
        <label for="username">Tên đăng nhập:</label>
        <input type="text" th:id="username" th:name="username" th:value="${lastUsername}" required><br><br>

        <label for="password">Mật khẩu:</label>
        <input type="password" th:id="password" th:name="password" required><br><br>

        <input type="submit" value="Đăng nhập">
    </form><br>

    <form action="/forget-password" method="get">
        <input type="submit" value="Quên mật khẩu?">
    </form><br>

    <div>Chưa có tài khoản? Đăng ký tại đây</div>
    <form action="/register-page" method="get">
        <input type="submit" value="Đăng ký">
    </form>

    <script>
        setTimeout(function () {
            var messageDiv = document.getElementById("messageDiv");
            if (messageDiv) {
                messageDiv.style.display = "none";
            }
        }, 2000); // message disapear after 2s
    </script>

</body>

</html>