<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Exam Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>


    </style>
</head>

<body>
    <div th:if="${message}" id="messageDiv" class="alert alert-success">
        <p th:text="${message}"></p>
    </div>
    <!--Sidebar-->

    <div th:if="${user.role == 'Teacher'}" class="sidebar">
        <a href="#" class="logo">
            <i class='bx bxs-graduation'></i>
            <div class="logo-name"><span>TQBEdu</span></div>
        </a>
        <ul class="side-menu">
            <form th:action="@{/back-to-dashboard}" method="get">
                <li><button><i class='bx bxs-dashboard'></i>Trang chủ</button></li>
            </form>
            <form th:action="@{/profile}" method="get">
                <li class="active"><button><i class='bx bx-paperclip'></i>Xem hồ sơ</button></li>
            </form>
            <form th:action="@{/teacher/classroom/classrooms-page?}" method="get">
                <li><button><i class='bx bx-book-open'></i>Xem các lớp học</button></li>
            </form>
            <form th:action="@{/teacher/exam/create-exam-page}" method="get">
                <li><button><i class='bx bx-edit'></i>Tạo đề thi</button></li>
            </form>
            <form th:action="@{/teacher/exam/view-exams-by-filter-page}" method="get">
                <li><button><i class='bx bx-folder'></i>Xem các đề thi</button></li>
            </form>
            <li><button><i class='bx bx-cog'></i>Cài đặt</button></li>
        </ul>
        <ul class="side-menu">
            <form th:action="@{/logout}" method="get" id="logoutForm">
                <li type="submit" id="logoutButton"><button class="logout"><i class='bx bx-log-out'></i>Đăng
                        xuất</button></li>
            </form>

        </ul>
    </div>

    <div th:if="${user.role == 'Student'}" class="sidebar">
        <a href="#" class="logo">
            <i class='bx bxs-graduation'></i>
            <div class="logo-name"><span>TQBEdu</span></div>
        </a>
        <ul class="side-menu">
            <form th:action="@{/back-to-dashboard}" method="get">
                <li><button><i class='bx bxs-dashboard'></i>Trang chủ</button></li>
            </form>
            <form th:action="@{/profile}" method="get">
                <li class="active"><button><i class='bx bx-paperclip'></i>Xem hồ sơ</button></li>
            </form>
            <form th:action="@{/student/classroom/classrooms-page?}" method="get">
                <li><button><i class='bx bx-book-open'></i>Xem các lớp học</button></li>
            </form>
            <form th:action="@{/student/exam/training}" method="get">
                <li><button><i class='bx bx-folder'></i>Xem các đề thi tự luyện</button></li>
            </form>
            <li><button><i class='bx bx-cog'></i>Cài đặt </button></li>
        </ul>
        <ul class="side-menu">
            <form th:action="@{/logout}" method="get" id="logoutForm">
                <li type="submit" id="logoutButton"><button class="logout"><i class='bx bx-log-out'></i>Đăng
                        xuất</button></li>
            </form>
        </ul>
    </div>
    <!-- End of Sidebar -->
    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Search...">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <form th:action="@{profile}" method="get">
                    <button class="profile" style="background-color: white; border: none;">
                        <img th:src="@{'/images/' + ${user.avatarFileName}}">
                    </button>
                </form>
            </a>
        </nav>
        <!-- End of Navbar -->
        <main>
            <div style="margin-left: 1opx;">
                <div th:if="${message}" id="messageDiv" class="alert alert-success">
                    <p th:text="${message}"></p>
                </div>

                <form th:action="@{/back-to-dashboard}" method="get">
                    <input type="submit" value="Quay lại trang chủ"
                        style="background-color: black; color: white; padding: 5px 10px; border: none; border-radius: 4px; cursor: pointer;" />
                </form><br>

                <form th:action="@{profile/edit}" method="get">
                    <input type="submit" value="Thay đổi thông tin cá nhân" />
                </form>

                <h2>Hồ sơ người dùng</h2>

                <div>

                    <img th:src="@{'/images/' + ${user.avatarFileName}}" width="270" height="250" />
                </div><br>

                <div>
                    <label for="username">Tên đăng nhập:</label>
                    <span th:text="${user.username}"></span>
                </div>

                <div>
                    <label for="name">Họ và tên:</label>
                    <span th:text="${user.name}"></span>
                </div>

                <div>
                    <label for="gender">Giới tính:</label>
                    <span th:text="${user.gender}"></span>
                </div>

                <div>
                    <label for="dob">Ngày sinh:</label>
                    <span th:text="${user.dob}"></span>
                </div>

                <div>
                    <label for="email">Email:</label>
                    <span th:text="${user.email}"></span>
                </div><br>

                <form th:action="@{change-password-page}" method="get">
                    <input type="submit" value="Đổi mật khẩu" />
                </form><br>

                
            </div>
        </main>
    </div>

    <script src="/js/index.js"></script>

    <!-- <script th:inline="javascript">

        window.onload = function () {
            setTimeout(function () {
                if (!window.location.hash) {
                    window.location = window.location + '#reloaded';
                    window.location.reload();
                }
            }, 500);
        };
        if (window.location.hash == "#reloaded") {
            var hashValue = window.location.hash;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/api/v1/FileUpload/reloadPageForImageAppear?hash=' + encodeURIComponent(hashValue), true);
            xhr.send();
            setTimeout(function () {
                var messageDiv = document.getElementById("messageDiv");
                if (messageDiv) {
                    messageDiv.style.display = "none";
                }
            }, 2000);
        }
    </script> -->


</body>

</html>