<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Đổi mật khẩu</title>
</head>

<body>
    <div th:if="${message}" id="messageDiv" class="alert alert-success">
        <p th:text="${message}"></p>
    </div>
    
    <h2>Đổi mật khẩu</h2>

    <form action="/reset-password" method="post">

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" th:value="${email}" readonly>
        <br>

        <label for="email">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" th:value="${username}" readonly>
        <br>

        <label for="password">Mật khẩu mới:</label>
        <input type="password" id="password" name="password" required>
        <br>

        <label for="confirmPassword">Xác nhận mật khẩu:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <br><br>
        
        <input type="hidden" id="tokenId" name="tokenId" th:value="${tokenId}" required>

        <button type="submit">Đổi mật khẩu</button>
    </form>

    <script>
        setTimeout(function () {
            var messageDiv = document.getElementById("messageDiv");
            if (messageDiv) {
                messageDiv.style.display = "none";
            }
        }, 2000); // message disapear after 2s
    </script>

</body>

</html>