<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lớp học</title>
</head>

<body>
    <div th:if="${message}" id="messageDiv" class="alert alert-success">
        <p th:text="${message}"></p>
    </div>

    <form th:action="@{classrooms-page}" method="get">
        <input type="submit" value="Quay lại trang trước"
            style="background-color: black; color: white; padding: 5px 10px; border: none; border-radius: 4px; cursor: pointer;" />
    </form>

    <h1>Lớp: <span th:text="${classroom.name}"></span></h1>
    <h2>Môn học: <span th:text="${classroom.subject}"></span></h2>
    <h2>Khối lớp: <span th:text="${classroom.grade}"></span></h2>
    <h2>Mã lớp: <span th:text="${classroom.classCode}"></span></h2>

    <form action="student-list" method="get">
        <input type="hidden" id="className" name="className" th:value="${classroom.name}">
        <input type="submit" value="Danh sách học sinh">
    </form>

    <h2>Các bài tập:</h2>
    <ul id="assignmentList">
        <li th:each="assignment : ${assignments}">
            <span th:text="${assignment.name}"></span>
            <form th:action="@{/user/classroom/remove-student}" method="post" style="display: inline;">
                <input type="hidden" id="name" name="name" th:value=${student} />
                <input type="hidden" id="className" name="className" th:value="${className}" />
                <input type="submit" value="Xóa khỏi lớp"
                    onclick="return confirm('Bạn có chắc chắn muốn xóa học sinh này khỏi lớp?')" />
            </form>
        </li>
    </ul>

    <form action="/teacher/classroom/remove-classroom" method="post">
        <input type="hidden" id="className" name="className" th:value="${classroom.name}">
        <input type="submit" value="Xóa lớp" onclick="return confirm('Bạn có chắc chắn muốn xóa lớp học này?')" />
    </form>

    <script>
        setTimeout(function () {
            var messageDiv = document.getElementById("messageDiv");
            if (messageDiv) {
                messageDiv.style.display = "none";
            }
        }, 2000); // message disapear after 2s
    </script>
</body>

</html>